<a href="https://colab.research.google.com/github/diegorossi8/MaratonaDataScience/blob/main/Pyrhon_Fase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crie um algoritmo em Python que mostre a mensagem "Alo mundo" na tela.

In [1]:
print("Olá Mundo!")

Olá Mundo!

Crie um algoritmo em Python que peça dois números e imprima a soma.

In [ ]:
x = int(input("Entre com o 1° valore"))
y = int(input("Entre com o 2° valore"))
print(x+y)

Entre com o 1° valore10
Entre com o 2° valore5
15

Crie um algoritmo em Python que peça um número e então mostre a mensagem O número informado foi [número].

In [ ]:
x = input("Entre com o 1° valore")
print("O numero informado foi",x)

Entre com o 1° valore10
O numero informado foi 10 lalala

Crie um algoritmo em Python que converta metros para centímetros.

In [2]:
x = float(input("Entre com o valor em metros: "))
print(" O valor ",x,"metro é de ",x*100," centimetros.")

Entre com o valor em metros: 1
 O valor  1.0 metro é de  100.0  centimetros.

Crie um algoritmo em Python que peça as 4 notas bimestrais e mostre a média.

In [3]:
a,b,c,d = input('informe 3 numeros: ').split(" ")
media = (float(a)+float(b)+float(c)+float(d))/4
print(media)

informe 3 numeros: 10 12 14 19
13.75

Crie um algoritmo em Python que peça o raio de um círculo, calcule e mostre sua área.

In [5]:
a = float(input("Entre com o raio do circulo: "))
print("A area do circulo de raio ",a," é ",(3.14*(a*a)),"!")

Entre com o raio do circulo: 5
A area do circulo de raio  5.0  é  78.5 !

Crie um algoritmo em Python que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.

In [6]:
a = float(input("Entre com um dos lados do quadrado! "))
print("A area do quadrado é ", a*a," e o dobro desta area é ",((a*a)*2))

Entre com um dos lados do quadrado!2
A area do quadrado é  4.0  e o dobro desta area é  8.0

Crie um algoritmo em Python que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [8]:
a,b = input("Entre com o valor de sua hora e as horas trabalhadas no mes").split(" ")
salario = float(a)*float(b)
print("Seu salario nes mes é ",salario)

Entre com o valor de sua hora e as horas trabalhadas no mes10 10
Seu salario nes mes é  100.0

Crie um algoritmo em Python que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus Celsius.
C = (5 * (F-32) / 9).

In [2]:
F = float(input("Entre com a temperatura em Farenheit: "))
C = (5 * (F-32))
print("A temperatura de ",F, " Farenheit equivale a ",C, "Celsius.")

Entre com a temperatura em Farenheit: 10
A temperatura de  10.0  Farenheit equivale a  -110.0 Celaius.

Crie um algoritmo em Python que peça a temperatura em graus Celsius, transforme e mostre em graus Farenheit.

In [3]:
F = float(input("Entre com a temperatura em Celsius: "))
C = ((160+F)/5)
print("A temperatura de ",F, " Celsius  equivale a ",C, "Farenheit.")

Entre com a temperatura em Celsius: -110
A temperatura de  -110.0  Celsius  equivale a  10.0 Farenheit.

Crie um algoritmo em Python que peça 2 números inteiros e um número real. Calcule e mostre:
* a soma do dobro do primeiro com metade do segundo .
* a soma do triplo do primeiro com o terceiro.
* o terceiro elevado ao cubo.

In [5]:
x,y,z = input("Entre com os dois primeiros valores inteiros e terceiro real. ").split(" ")
print("a soma do dobro do primeiro com metade do segundo",((int(x)*2)+(int(y)/2)))
print("a soma do triplo do primeiro com o terceiro ", ((int(x)*3)+float(z)))
print("o terceiro elevado ao cubo.",float(z)*float(z) )

Entre com os dois primeiros valores inteiros e terceiro real. 2 3 4.5
a soma do dobro do primeiro com metade do segundo 5.5
a soma do triplo do primeiro com o terceiro  10.5
o terceiro elevado ao cubo. 20.25